//
// Paths & Directories
//
$asset_dir: "../src/assets/";


// Colors
$dark-gray: #2c2c2c;
$light-gray: #fafafa;
$mid-gray: #f0f0f0;
$blue: #4aaaee;
$white: #fff;
$gray: #646464;
$silver: #646464;
$dark: #282828;


$default-space : 1rem !default;

$border-radius-md: 20px;
$border-radius-lg: 40px;

$grid-breakpoints: (xs: 0,
        xsm: 374px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px) !default;