// Converts px based sizes to rem
// -----------------------------------------------------------------------------
@mixin size($pxValue, $property: "font-size", $standard-size: 16) {
  #{$property}: $pxValue/$standard-size + rem;
}

// Min width media queries
$fix-mqs : false !default;

// Media query helpers
// -----------------------------------------------------------------------------
// Media query min-width based
@mixin mq($name) {
  @if $fix-mqs {
    @if $fix-mqs>=map-get($grid-breakpoints, $name) {
      @content;
    }
  }

  @else {
    @if not map-has-key($grid-breakpoints, $name) {
      @warn "Warning: `#{$name}` is not a valid breakpoint name, get your shit together!";
    }

    @else {
      @media (min-width: map-get($grid-breakpoints, $name)) {
        @content;
      }
    }
  }
}



@mixin blue_gradiant() {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,176,190,1) 0%, rgba(33,88,147,1) 50%, rgba(28,49,128,1) 100%);
}

// Links
// -----------------------------------------------------------------------------
@mixin link_button() {
  color: $white;
  align-items: center;
  font-weight: normal;
  @include size(16);
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  padding-right: $default-space * 2;
  padding-left: $default-space * 2;
  padding-top: $default-space;
  padding-bottom: $default-space;
  transition: all .2s;
  display: inline-flex;
  border-radius: $border-radius-lg;
  @include blue_gradiant;
  i{
    padding-right: .5rem;
  }
}


