@import "../../scss/utils/mixin";
@import "../../scss/utils/config";

.articleList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.loading{
  text-align: center;
}

.linkButton{
  @include link_button;
  text-align: right;
  margin-top: .4rem;
  display: flex;
  margin-left: auto;
}