@import "../../scss/utils/config";
@import "../../../src/scss/utils/mixin";
.header{
  background: $dark-gray;
  .userInformationWrapper {
    display: flex;
    padding: .8rem 0;
    align-items: center;
    .userThumbnail{
      img{
        border-radius: 100px;
      }
    }
    .userInformation {
      padding-left: 1rem;
      color: $white;
      text-align: left;
      p{
        margin-bottom: 0;
      }
      .fullName{
        @include size(20);
        font-weight: bold;
      }
      .userDetails{
        @include size(13);
        font-weight: lighter;
      }
    }
  }
}